:root {
  --primary-color: #031634;
  --secondary-color: #036564;
  --off-white: #E8DDCB;
}

body {
  margin: 0;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 16px;
}

header {
  background-color: var(--off-white);
  border-bottom: 1px solid var(--secondary-color);
  color: var(--primary-color);
  margin: 0;
  padding: 2rem;
}

main {
  min-height: 80vh;
}

button {
  appearance: none;
  border: 1px solid var(--primary-color);;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.gallery {
  overflow: hidden;
  margin: 0 auto;
  width: 80vw;
}

.gallery ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.gallery ul.gallery-slides {
  transition: height .3s ease-in-out;
}

.gallery ul li.gallery-slide {
  display: inline-block;
  height: auto;
  opacity: 0;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 100%;
}

.gallery ul li.gallery-slide.active {
  opacity: 1;
}

.gallery ul li.gallery-slide img,
.gallery ul li.gallery-slide svg,
.gallery ul li.gallery-slide video,
.gallery ul li.gallery-slide iframe {
  display: block;
  margin: 0 auto;
}

.gallery ul li.gallery-slide video,
.gallery ul li.gallery-slide iframe {
  min-height: 500px;
  width: 100%;
}

.actions {
  margin: 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

nav.pagination {
  display: inline-block;
}

nav.pagination li {
  display: inline;
}

nav.pagination li button {
  border: 1px solid var(--secondary-color);;
  cursor: pointer;
  display: inline-block;
  padding: .5rem;
}

footer.main {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
}
