body {
  margin: 0;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 16px;
}

header {
  padding: 2rem;
  margin: 1rem;
  border-bottom: 1px solid #444444;
}

button {
  appearance: none;
  border: 1px solid #2323ff;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.gallery {
  overflow-x: hidden;
  margin: 0 auto;
  width: 80vw;
}

.gallery ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.gallery ul.gallery-slides {
  transition: height .3s ease-in-out;
}

.gallery ul li.gallery-slide {
  display: inline-block;
  height: auto;
  opacity: 0;
  padding: 2rem 0;
  position: absolute;
  transition: all .3s ease-in-out;
  width: 100%;
}

.gallery ul li.gallery-slide.active {
  opacity: 1;
}

.gallery ul li.gallery-slide img,
.gallery ul li.gallery-slide svg {
  display: block;
  margin: 0 auto;
}

.actions {
  margin: 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

nav.pagination {
  display: inline-block;
}

nav.pagination li {
  display: inline;
}

nav.pagination li button {
  border: 1px solid rgba(50,50,50,.5);
  cursor: pointer;
  display: inline-block;
  padding: .5rem;
}
